html,body{
    margin: 0 auto;
    padding: 0;
    background-color: whitesmoke;
}


.container img {
    height: 200px;
    width: 280px;
}

.images{
    margin-top: 60px;
} 


.container .figure .figure-caption{
    font-size: 20px;
}